<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TasksSimplify</title>
    <link
            rel="icon"
            href=
"https://img.icons8.com/?size=100&id=xF9ZbyGPFTC2&format=png&color=000000"
            type="image/x-icon"
        />
    <link rel="stylesheet" href="css/user.css">
</head>
<body>
    <div class="wrapper">
        <div class="maintag"></div>
        <div class="cardwrapper">
        <div class="card">
            <a href="/member-login">
            <div class="picplace">
                <img src="img/member.png" alt="" class="pic">
            </div>
            <div class="tagplace">
                Member
            </div>
        </a>
        </div>
        <div class="card">
            <a href="/admin-login">
            <div class="picplace">
                <img src="https://static.thenounproject.com/png/2303078-200.png" alt="" class="pic">
            </div>
            <div class="tagplace">
                Admin
            </div>
        </a>
        </div>
        </div>
    </div>
</body>
</html>