<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/user.css">
</head>
<body>
    <div class="wrapper">
        <div class="maintag"></div>
        <div class="cardwrapper">
        <div class="card">
            <div class="picplace">
                <img src="/assets/img/member.png" alt="" class="pic">
            </div>
            <div class="tagplace">
                <a href="">Member</a>
            </div>
        </div>
        <div class="card">
            <div class="picplace">
                <img src="https://static.thenounproject.com/png/2303078-200.png" alt="" class="pic">
            </div>
            <div class="tagplace">
                <a href="">Admin</a>
            </div>
        </div>
        </div>
    </div>
</body>
</html>