<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TasksSimplify</title>
    <link
      rel="icon"
      href="https://img.icons8.com/?size=100&id=xF9ZbyGPFTC2&format=png&color=000000"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../../Assets/css/forgot.css" />
  </head>
  <body>
    <section class="container">
      <header>Forgot Password</header>
      <form action="/member-login" method="post" class="form" onsubmit="validateForm()">
        <div class="input-box">
            <div class="text">
                <label>Enter the new password</label>
            </div>
            <input type="password" id="otp" name="otp" placeholder="Enter new password" class="in" required/>
        </div>
        
        <button type="submit">Change Password</button>
      </form>
    </section>
  </body>
</html>
