<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TasksSimplify</title>
    <link
            rel="icon"
            href=
"https://img.icons8.com/?size=100&id=xF9ZbyGPFTC2&format=png&color=000000"
            type="image/x-icon"
        />
	<link rel="stylesheet" href="css/membernav.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="wrapper">
		<div class="wrapper_inner">
			<div class="vertical_wrap">
			<div class="backdrop"></div>
			<div class="vertical_bar">
				<div class="profile_info">
					<div class="img_holder">
						<img src="img/member.png" alt="profile_pic">
					</div>
					<p class="title"><%= user.name%></p>
					<p class="sub_title"><%= user.email%>e</p>
				</div>
				<ul class="menu">
					<li><a href="/mem-profile">
						<span class="icon"><i class="fas fa-home"></i></span>
						<span class="text">Your Profile</span>
					</a></li>
					<li><a href="#">
						<span class="icon"><i class="fas fa-file-alt"></i></span>
						<span class="text">Assigned tasks</span>
					</a></li>
					<li><a href="#">
						<span class="icon"><i class="fas fa-chart-pie"></i></span>
						<span class="text">Pending Tasks</span>
					</a></li>
					<li><a href="#">
						<span class="icon"><i class="fa fa-list" aria-hidden="true"></i></span>
						<span class="text">Completed tasks</span>
					</a></li>
                    <li><a href="#">
						<span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
						<span class="text">Update Profile</span>
					</a></li>
                    <li><a href="/changepwdmem">
						<span class="icon"><i class="fa fa-lock"></i></span>
						<span class="text">Change Password</span>
					</a></li>
                    <li><a href="#">
						<span class="icon"><i class="fa fa-power-off" aria-hidden="true"></i></span>
						<span class="text">Logout</span>
					</a></li>
				</ul>

				
			</div>
		</div>
		<div class="main_container">
			<div class="top_bar">
				<div class="hamburger">
					<i class="fas fa-bars"></i>
				</div>
				<div class="logo">
					Task <span>Management System</span>
				</div>
			</div>

			
		</div>
		</div>
	</div>

<script>
	var hamburger = document.querySelector(".hamburger");
	var wrapper  = document.querySelector(".wrapper");
	var backdrop = document.querySelector(".backdrop");

	hamburger.addEventListener("click", function(){
		wrapper.classList.add("active");
	})

	backdrop.addEventListener("click", function(){
		wrapper.classList.remove("active");
	})
</script>
</body>
</html>