@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}

body {
	background: linear-gradient(to right, #e3f2f1, #bfd4d3);
}

.wrapper {
	margin: 0 10px;
}

.wrapper_inner {
	position: relative;
	max-width: 1250px;
	width: 100%;
	height: 700px;
	background: #fff;
	margin: 30px auto;
	border-radius: 25px;
	display: flex;
}

.vertical_wrap {
	position: relative;
	height: 100%;
}

.vertical_bar {
	width: 250px;
	background: #3d5654;
	height: 100%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	position: relative;
}

.vertical_bar .profile_info {
	text-align: center;
	padding: 50px 25px;
}

.vertical_bar .profile_info img {
	width: 100px;
}

.vertical_bar .profile_info .title {
	font-size: 20px;
	letter-spacing: 2px;
	color: #c99c33;
	font-weight: 700;
}

.vertical_bar .profile_info .sub_title {
	font-size: 14px;
	color: #fff;
}

.vertical_bar .menu {
	padding-left: 25px;
}

.vertical_bar .menu li a {
	display: block;
	padding: 15px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-bottom: 1px;
}

.vertical_bar .menu li a .icon {
	color: #c99c33;
	width: 25px;
	display: inline-block;
}

.vertical_bar .menu li a:hover,
.vertical_bar .menu li a.active {
	background: #fff;
	color: #3d5654;
}

.vertical_bar .social {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 50px;
}

.text {
	font-size: 0.8rem;
}

.vertical_bar .social li a {
	width: 50px;
	height: 50px;
	color: #fff;
	border: 1px solid #fff;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin: 0 10px;
}

.vertical_bar .social li a:hover {
	color: #c99c33;
	background: #fff;
}

.main_container {
	width: calc(100% - 250px);
}

.main_container .top_bar {
	height: 60px;
	background: #425c5a;
	border-top-right-radius: 25px;
	padding: 15px 25px;
	display: flex;
	align-items: center;
	margin: auto;
}

.main_container .top_bar .logo {
	margin: auto;
}

.top_bar .hamburger {
	color: #fff;
	font-size: 24px;
	cursor: pointer;
	display: none;
	margin-right: 25px;
}

.top_bar .logo {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #c99c33;
}

.top_bar .logo span {
	color: #fff;
}

.main_container .container {
	padding: 25px;
	overflow-y: auto; /* Enable vertical scrolling */
	height: calc(100% - 60px); /* Adjust the height to fit within the main container */
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
	.top_bar .hamburger {
		display: inline-block;
	}
	.vertical_wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
	}
	.vertical_bar {
		position: absolute;
		top: 0;
		left: -100%; 
		transition: left 0.2s linear;
	}
	.vertical_wrap .backdrop {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 25px;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}
	.main_container {
		width: 100%;
	}
	.main_container .top_bar {
		border-top-left-radius: 25px;
	}
	.wrapper.active .vertical_wrap {
		visibility: visible;
	}
	.wrapper.active .vertical_bar {
		left: 0;
		transition: left 0.2s linear;
	}
}

.cardtemplate{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 30%;
	max-height: 45%;
    background-color: #E8E9EB;
    transition: transform 0.3s ease;
    display: inline-block;
    display: flex;
    flex-direction: column;
}

.cardtemplate:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}
.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}
.button {
    margin-top: auto; /* Push button to the bottom */
    padding: 8px 16px;
    background-color: #425c5a;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    background-color: #364d4b; /* Darken the button on hover */
}
.name
{
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
    text-align: center;
}
.t{
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.sign{
    margin: auto;
    font-size: 80px;
}
.sign a {
    color: #000000; /* Set the desired color for the link */
    text-decoration: none; /* Remove underline from link */
}

.sign a:visited {
    color: #000000; /* Ensure visited links have the same color */
}

.sign a:hover {
    color: #000000; /* Optional: Change color on hover */
}

.sign a:active {
    color: #000000; /* Optional: Change color when the link is clicked */
}
.t a {
    color: #000000; /* Set the desired color for the link */
    text-decoration: none; /* Remove underline from link */
}

.t a:visited {
    color: #000000; /* Ensure visited links have the same color */
}

.t a:hover {
    color: #000000; /* Optional: Change color on hover */
}

.t a:active {
    color: #000000; /* Optional: Change color when the link is clicked */
}