*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    background:url('../img/back1.jpg') ;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintag{
    
    height: 10vh;
    width: 20vw;
    font-size: 10vh;
    
    margin-top: 7vh;
    margin-bottom: 10vh;
    
}


.cardwrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;

}

.card{
    height: 50vh;
    width: 20vw;
    border: 2px solid black;
    border-radius: 10px;
    transform: scale(0.9);
    background: transparent;
    backdrop-filter: blur(50px);
    margin: 20px;
        box-shadow: 2px 2px 2px white,
                2px 2px 2px white;
}

.picplace{
    
    height: 40vh;
    width: 100%;
    padding: 4vh;
}

.tagplace{
    font-size: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.pic{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.card:hover{
    transform: scale(0.97);
    transition: 0.2s;
}